<div class="container-fluid px-4">
  <div class="row my-5">
    <h3 class="fs-4 mb-3">Recent Contacts</h3>
    <div class="col">
      <table class="table bg-white rounded shadow-sm table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">User name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Company</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of contacts">
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.company.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
